<html>

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<title>title</title>
	 <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close')">
                    close
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
</head>

<body>
	<h2>Vue.js Board</h2>
	<table id="board">
		<thead>
			<th>글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>내용</th>
			<th>삭제</th>
		</thead>
		<tr v-if="!boardlist">
			<td>게시글이 없습니다.</td>
		</tr>
		<tr v-for="board in boardlist">
			<td v-text="board.boardno"></td>
			<td v-text="board.title"></td>
			<td v-text="board.writer"></td>
			<td v-text="board.content"></td>
			<td><button v-on:click="remove(board.boardno)">삭제</button></td>
		</tr>
	</table>
	<br/>
	<div id="regform">
      <button id="show-modal" @click="showModal = true">작성</button>
      <!-- use the modal component, pass in the prop -->
      <modal v-if="showModal" @close="showModal = false">
        <h3 slot="header">게시글 작성</h3>
      	<div slot="body">
			<form v-on:submit.prevent="create">
				<label>제목
					<input type="text" name="title" v-model="title">
				</label><br/>
				<label>작성자
					<input type="text" name="writer" v-model="writer">
				</label><br/>
				<label>내용
				<input type="text" name="content" v-model="content">
				</label>
				<button>등록</button>
			</form>
      	</div>
      </modal>
	</div>
<script>
	Vue.component("modal", {
	    template: "#modal-template"
	  });
	
	let regform = new Vue({
		el:'#regform',
		data : {
			title:''
			,writer:''
			,content:''
			,showModal: false
		},
		methods:{
			create: function(){
				$.ajax({
					url : '/restapi/board'
					,data : {
						title : regform.title
						,writer : regform.writer
						,content : regform.content
					}
					,method : 'POST'
				}).done(function(data){
					regform.title = '';
					regform.writer = '';
					regform.content = '';
					regform.showModal = false;
					board.load();
				})
			}
		}
	})
	
	let board = new Vue({
		el: '#board',
		data: {
			boardlist : []
		},
		mounted : function(){
			this.load()
		} ,
		methods:{
			load : function(){
				$.ajax({
					url : '/restapi/board'
				}).done(function(data){
					board.boardlist = data.payload;
				})
			},
			remove : function(boardno){
				$.ajax({
					url : '/restapi/board'
					,method : 'post'
					,data : {
						boardno : boardno
						,_method : 'delete'
					}
				}).done(function(data){
					board.load();
				})
			}
		}
	})
</script>
</body>
</html>