<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
	form div{
		margin : 5px;
	}
	label{
		width : 50px;
		display : inline-block;
	}
	.btns{
		margin-left : 100px;
	}
</style>
<title>Insert title here</title>
</head>
<body>
	<h1>게시판 글 작성</h1>
	<form id="writeForm" action="" method="post">
		<div>
			<label for="title">제목</label>
			<input type="text" id="title" name="title">
		</div>
		<div>
			<label for="writer">작성자</label>
			<input type="text" id="writer" name="writer">
		</div>
		<div>
			<label for="content">내용</label>
			<textarea id="content" name="content"></textarea>
		</div>
	</form>
	<div class="btns">
		<button type="button" onclick="location.href = '/board';">취소</button>
		<button type="submit" form="writeForm">저장</button>
	</div>
</body>
</html>